[profile.default]
src = "src"
out = "out"
libs = ["lib"]

[rpc_endpoints]
sepolia = "https://eth-sepolia.g.alchemy.com/v2/${ALCHEMY_KEY}"
localhost = "http://127.0.0.1:8545"
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
